<h1>Admin::Dashboard#show</h1>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @product_count %></span>
    Total product count
    <li class="list-group-item">
      <span class="badge"><%= @category_count %></span>
      Total category count
    </li>
  </li>
</ul>
