<section class="about-us">

  <header class="page-header">
    <h1>About Us</h1>
    <div class="inner">
                        Welcome to the jungle we've got fun and games<br>We got everything you want honey, we know the names<br>We are the people that can find whatever you may need<br>If you got the money, honey we got your disease<br><br>In the jungle, welcome to the jungle<br>Watch it bring you to your n-n-n-n-n-n-n-n knees, knees<br>I wanna watch you bleed<br><br>Welcome to the jungle, we take it day by day<br>If you want it you're gonna bleed but it's the price to pay<br>And you're a very sexy girl, very hard to please<br>You can taste the bright lights but you won't get there for free<br>In the jungle welcome to the jungle<br>Feel my, my, my serpentine<br>Ooh, I want to hear you scream<br><br>Welcome to the jungle, it gets worse here every day<br>You learn to live like an animal in the jungle where we play<br>If you got hunger for what you see you'll take it eventually<br>You can have everything you want but you better not take it from me<br><br>In the jungle, welcome to the jungle<br>Watch it bring you to your n-n-n-n-n-n-n-n knees, knees<br>I'm gonna watch you bleed<br><br>And when you're high you never ever wanna come down<br>So down, so down, so down, yeah<br><br>You know where you are?<br>You're in the jungle baby, you're gonna die<br>In the jungle welcome to the jungle<br>Watch it bring you to your knees, knees<br>In the jungle welcome to the jungle<br>Feel my, my, my serpentine<br>In the jungle welcome to the jungle<br>Watch it bring you to your knees, knees<br>In the jungle welcome to the jungle<br>Watch it bring you to you<br>It's gonna bring you down, huh
                        <span class="lyrics-license">
                        Writer/s: W. Axl Rose, Saul Hudson, Duff Rose Mckagan, Izzy Stradlin, Steven Adler <br>
                         Publisher: Universal Music Publishing Group, Sony/ATV Music Publishing LLC<br>
                        Lyrics licensed and provided by <a href="https://www.lyricfind.com" target="_blank">LyricFind</a>
                        </span>
                        </div>
  </header>